* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    color: #4a5568;
    overflow-x: hidden;
}
:root {
    --main-purple: #7586b6;
    --light-blue-bg: #dde4f8;
    --dark-text: #3c486b;
    --card-bg: #f4f6fd;
    --cream-bg: #fffdf6;
}